<div class="cell">
    <div class="expandable-cell" [style.min-height.px]="25 * options.metaDataArray.length + (expanded ? (loading ? 25 : 25 * options.detailMetaDataArray.length) : 0)">
        <div class="default-meta-data" [style.height.px]="25 * options.metaDataArray.length">
            <div class="rich-text-cell" [style.height.px]="25 * options.metaDataArray.length" [ngClass]="{ 'expanded': expanded }">
                <div class="image-container">
                    <meta-data *ngIf="options.imageMetaData" class="image" [data]="data" [height]="75" [width]="75" [metaData]="options.imageMetaData"></meta-data>
                </div>
                <div class="content-container" [ngClass]="{ 'with-image': options.imageMetaData }">
                    <meta-data *ngFor="let metaData of options.metaDataArray" class="content" [data]="data" [metaData]="metaData"></meta-data>
                </div>
            </div>
            <div class="expand-button">
                <a class="fas fa-fw" [ngClass]="expanded ? options.expandedIcon.collapse : options.expandedIcon.expand" (click)="expand()"></a>
            </div>
        </div>
        <div class="detail-container" [ngClass]="{ 'with-image': options.imageMetaData }" *ngIf="expanded" [style.min-height.px]="loading ? 25 : 25 * options.detailMetaDataArray.length">
            <div class="loading-bar" *ngIf="loading">
                <core-progress-bar></core-progress-bar>
            </div>
            <div class="content-container" *ngIf="!loading">
                <div *ngIf="!detailObject" class="info">
                    <span>No Detail Information</span>
                </div>
                <div *ngIf="detailObject">
                    <meta-data *ngFor="let metaData of options.detailMetaDataArray" [rowInfo]="rowInfo" class="content" [data]="detailObject" [metaData]="metaData" (onChange)="metaDataChangeHandler($event)"></meta-data>
                </div>
            </div>
        </div>
    </div>
</div>
